.play{
    height: 200px;
    width: 100%;
    /* border: 2px solid red; */
    left: 0px;
   top: 180px;
   position: absolute;
   background: #000;

}

.play img{
    height: 170px;
    width: 130px;
   left: 0px;
   top: 0px;
   border: 1px solid red;
   
    /* z-index: -1; */
    

    position: absolute;
}