.play{
    height: 200px;
    width: 100%;
    border: 2px solid red;

}

.play img{
    height: 170px;
    width: 130px;
   left: 120px;
   top: 180px;
    /* z-index: -1; */
    

    position: absolute;
}