.play{
    height: 200px;
    width: 100%;
    border: 2px solid red;
    position: absolute;
    left: 350px;
    top: 350px;
    z-index: -1;
}

.play img{
    height: 170px;
    width: 130px;
    /* left: 350px;
    top: 350px; */
    z-index: -1;
    

    position: absolute;
}